{% extends "layout.html" %}

{% block content %}
<div class="task-list">
  {% for task in tasks %}
    <div class="card mb-3">
      <div class="card-body d-flex align-items-center">
        <div class="col-10">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.description }}</p>
        </div>


        <form class="mx-2" method="post" action="/update">
          <input name="task_id" value="{{ task.id.unwrap() }}" type="hidden"/>
          {% if task.done %}
            <button type="submit" class="btn fa btn-success fa-check"></button>
          {% else %}
            <button type="submit" class="btn fa btn-warning fa-wrench"></button>
          {% endif %}
        </form>

        <!-- Button based on task's done status -->
        <form class="mx-2" method="post" action="/delete">
          <input name="task_id" value="{{ task.id.unwrap() }}" type="hidden"/>
          <button type="submit" class="btn btn-danger fa fa-trash"/>
        </form>
      </div>
    </div>
  {% endfor %}
</div>

<a href="/add" class="btn btn-primary w-100" role="button">Add TODO</a>
{% endblock %}
